body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrap{
    display: flex;
    background-color: pink;
    background-image: url("https://th.bing.com/th/id/OIP.YRaKbLaZsVf9FGSllSANOgHaFj?rs=1&pid=ImgDetMain");
    background-size: 100%;
    width: 100vw;
}

.placeholder{
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
}
.banner h1{
    font-size: 4em;
    background-image: url("https://www.twi-global.com/image-library/hero/engineering-design-process.jpg");
    background-size: 100vw 200%;
    background-position: 0% 100%;
    background-color: aqua;
    width: 100vw;
    text-align: center;
    margin-top: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.banner h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    margin-bottom: 0px;
}

.sub{
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.main{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    text-align: left;
    padding: 10px;
    flex-basis: 800px;
    flex-grow: 2;
    flex-shrink: 0;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#steps{
    border-bottom: black 1px solid;
}

#steps p{
    font-size: 1.3em;
}

section h2{
    text-align: center;
}

#steps img{
    float: right;
    height: 20em;
}

section ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

section ul li p{
    margin:5px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0.5em;
    border: black 1px solid;
    height: 15vh;
    width: 20vw;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 50em) {
    section ul li p{
        font-size: 1.3em;
        width: 25vw;
    }
}

@media only screen and (max-width: 50em) {
    section ul li p{
        font-size: 1.3em;
        width: 50vw;
    }
}

@media only screen and (max-width: 25em) {
    .banner h1{
        font-size: 2em;
    }

    .banner h2, h3{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 900px) {
    .main{
        flex-basis: 100vw;
        flex-shrink: 1;
        padding: 10px;
    }
    .placeholder{
        flex-basis: 0px;
    }
    #steps img{
        display: none;
    }
}