body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background: #fafafa;
}

.wrap {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    background-image: url("https://th.bing.com/th/id/OIP.YRaKbLaZsVf9FGSllSANOgHaFj?rs=1&pid=ImgDetMain");
    background-size: cover;
    width: 100%;
}

.placeholder {
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
}

.banner h1 {
    font-size: 4em;
    background-image: url("https://www.twi-global.com/image-library/hero/engineering-design-process.jpg");
    background-size: 100vw 200%;
    background-position: 0% 100%;
    background-color: aqua;
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
}

.banner h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    margin-bottom: 0;
}

.sub {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    text-align: left;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 800px;
    flex-grow: 2;
    flex-shrink: 0;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: block;
}

#contact form{
    max-width: 24em;
    border: 1px solid;
    padding: 10px;
    margin: auto;
}

#contact form div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
#contact form div textarea{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: left;
    list-style-type: none;
    width: 100vw;
    position: sticky;
    background-color: white;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    border-bottom: 1px solid;
}

nav ul li{
    padding: 10px;
}

nav ul li:hover{
    background-color: gray;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

#steps {
    border-bottom: 1px solid black;
}

#steps ol li, #steps p {
    font-size: 1.3em;
}

section h2 {
    text-align: center;
}

#steps img {
    float: right;
    height: 20em;
}

section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

section ul li {
    border-radius: 0.5em;
    border: 1px solid black;
    width: 20vw;
    margin: 5px;
    overflow-x: hidden;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section ul li img {
    width: 100%;
    transition: transform 0.3s ease;
}

section ul li img:hover {
    transform: scale(1.1);
}

section ul li p {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-width: 55em) {
    .main {
        flex-basis: calc(100% - 10px);
        flex-shrink: 1;
        padding: 10px;
    }
    .placeholder {
        flex-basis: 0;
    }
    #steps img {
        display: none;
    }
    section ul li {
        width: 45%;
    }
    section ul li img {
        width: 100%;
    }
    section ul li p {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 32em) {
    section ul li {
        border-radius: 0.5em;
        border: 1px solid black;
        width: 70vw;
        margin: 5px;
        overflow-x: hidden;
    }
    section ul li img {
        width: 70vw;
    }
    section ul li p {
        font-size: 1em;
        font-weight: bold;
        padding: 5px;
        text-align: center;
    }
    nav ul li a{
        font-size: 1em;
    }
}

@media only screen and (max-width: 25em) {
    .banner h1 {
        font-size: 2em;
    }
    .banner h2, h3 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    
}
